[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "nativefiledialog-extended"]
	path = nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended
